# Master 配置
[mysqld]
# 用于表示不用数据库服务器，且唯一
server_id=1
#需要开启二进制日志
log-bin=mysql-bin
read-only=0
#指定同步的数据库
binlog-do-db=cocoyo
# 忽略记录二进制日志的数据库
replicate-ignore-db=mysql
replicate-ignore-db=sys
replicate-ignore-db=information_schema
replicate-ignore-db=performance_schema
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/